body{background:orange;
}

li a{
	display:block;
	top:0;
	background-color:#00FFFF;
	width:auto;
	padding:10;
	color:black;
	
}
nav{
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	font:Black;
	text-align:justify;
}
sidenav{
	top:0;
	background-color:#FB6F17;
	width:75%;
	padding:10;
	color:black;
}
h2{
	font-size: 10px;
}